.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding :20px;
    top:0;
    position: sticky;
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header__input > input{
    flex: 1;
    border: none;
}

.header__icons{
    display: flex;
    align-items: center;
}

.header_icon{
    margin-right: 20px;
}

.header__searchbutton{
    width: 50px !important;
    /* align: right; */
    color: gray;
    background-color: rgb(241, 245, 245);
    border-left: 1px solid lightgray;
}